@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background: rgb(170, 190, 255);
    text-align: center;
    color: rgb(36, 36, 36);
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
ul li {
    margin: 0 1em;
}
a {
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 3px;
    color: navy;
}
h1 {
    padding-top: 10vh;
}
img{
    width: 100%;
}
section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px
}